<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/list.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/helpersLists.js"></script>
    <script type="text/javascript" src="/scripts/nav.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <form autocomplete="off" action="/api/credentials" method="POST">
    <button class="button" type="submit">Logout</button>
  </form>
  <body>
    <%- include('partials/_nav') %>
      <div class="center">
        <section class="todo-cmp">
          <header class="todo-cmp__header">
            <h2>
              <%= lists[0].username %>'s  <%= lists[0].title %>
            </h2>
            <p>
              <script> document.write(new Date().toDateString()); </script>
            </p>
          </header>
          <div class="add_item">
            <button>Add an item</button>
          </div>
          <form action="/lists" method="POST" class="item_toggle">
            <label for="new_item_name"> </label>
            <textarea name="text"  id="name-text" placeholder ="Name of new item"></textarea>
            <button id="add" type="submit">Submit</button>
          </form>
          <ul class="todo-cmp__list">
          <section class="display-personal-lists" id="display-personal-lists">
            <% for(let list in lists) { %>
                <%= lists[list].name %><br>
                <%= lists[list].description %><br>
            <% } %>

          </section>
          </ul>

      </div>
    </div>
  </body>
</html>
